<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://famandeep.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e02cf076-77dc-4c6e-8ded-9e077e026e1e/resourcegroups/WebDevelopmentTesting_1/providers/Microsoft.Web/sites/FAMandeep</ResourceId>
    <UserName>$FAMandeep</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://famandeep.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>